[submodule "go-app"]
	path = go-app
	url = git@github.com:nevkontakte/go-app.git
[submodule "lofimusic"]
	path = lofimusic
	url = git@github.com:nevkontakte/lofimusic.git
[submodule "gopherjs"]
	path = gopherjs
	url = git@github.com:gopherjs/gopherjs.git
